script(src='jquery/jquery.min.js')
script(src='bootstrap/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
script(src='js/page_index.js')