doctype html
html
    head
        include /global_head.pug
    body
        include /global_navigation_bar.pug

        section.masthead(style="linear-gradient(90deg, rgba(220,11,236,1) 0, rgba(0,114,206,1) 100%);min-height: 100%;")
            .row.mr-0.ml-0
                .col.my-auto
                    p oi
                    
        include /global_footer.pug
        include /global_body_end.pug

        <!-- Initialization -->
        script(type='text/javascript' src='/js/page_index.js')