#tableUsers.table-responsive.table-borderless.text-center(style='border-radius: 32px;')
    table.table.table-striped.table-bordered.table-dark.mb-0.pb-0
        thead
            tr
                th Usuário
        tbody
            tr
                td(style='width: 50%;' name='name')
                    span.mr-2 Gustavo Contreiras:
                    a(href='#')
                        | contreirasgustavo
                        br